.input {
    display: block;
    width: 100%;
    height: 1.75em;
}

.btn {
    all: initial;
    margin-top: 2em;
    background-color: #817c7c;
    padding: 0.5em 0.5em;
    cursor: pointer;
}

.close-btn {
    all: initial;
    position: absolute;
    top: -30px;
    right: -30px;
    padding: 15px;
    background: #a5a2a2;
    border: 4px solid white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    justify-content: center;
    align-items: center;
}

.show.modal-container {
    display: flex;
}

.modal {
    position: relative;
    background-color: white;
    height: 200px;
    width: 90%;
    max-width: 300px;
    padding: 40px;
    border: 10px solid #817c7c;
    /* transition: all 0.5s; */
    box-shadow: 0 0 0 10px white;
    animation: modal 0.5s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate(0, -100vh);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}