body {
    margin-top: 100px;
    margin-bottom: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

.grid {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid black;
}

.item {
    background-color: slateblue;
    color: white;
    margin: 4px;
    text-align: center;
}


.grid-template-columns {
    grid-template-columns: 1fr 1fr 1fr; /* fr é uma medida proporcional, funciona como o flex: 1; */
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.subgrid > div {
    background-color: rgb(82, 69, 165);
}

.grid-template-columns2 {
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
}

.grid-template-columns3 {
    grid-template-columns: repeat(auto-fit, 150px);
}

.grid-template-columns4 {
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
}

.grid-template-columns5 {
    grid-template-columns: repeat(auto-fill, minmax(50px, auto));
}

.grid-template-rows {
    grid-template-columns: 1fr 4fr 1fr;
    
    grid-template-rows: auto 300px;
}

.grid-template-areas {
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px   ;
    grid-template-areas: 
    "logo    nav     nav"
    "sidebar content advert"
    "sidebar footer  footer" 
    ;
}

.logo {
    grid-area: logo;
}

.content {
    grid-area: content;
    padding: 10px;
}

.nav {
    grid-area: nav;
}

.advert {
    grid-area: advert;
}

.footer {
    grid-area: footer;
}

.sidebar {
    grid-area: sidebar;
}

@media (max-width: 600px) {
    .grid-template-areas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 50px auto 50px 100px;


        grid-template-areas: 
        "logo logo"
        "nav nav"
        "content content"
        "sidebar sidebar"
        "advert footer"
        ;

    }
}

.gap {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    gap: 10px;
}

.gap > .item {
    margin: 0px;
}

.gap > .item-special {
    margin-top: 20px;
    margin-right: 20px;
}

.grid-auto-columns {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 150px 50px;
}

.grid-auto-columns > .item-special {
    grid-column: 6;
}

.grid-auto-row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 30px 50px 100px;
}

.grid-auto-rows > .item-special {
    grid-row: 7;
}

.grid-template1 {
    grid-template: 3fr minmax(75px, 1fr) / repeat(3, 1fr);
}
.grid-template2 {
    grid-template: 
    "logo nav nav" 50px
    "sidebar content advert" 300px
    "sidebar footer footer" 50px
    / 100px 3fr 1fr 
    ;
}

.grid-auto-flow {
    grid-template-columns: 400px 300px 100px;
    grid-auto-flow: column;
}

.grid-auto-flow2 {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 75px);
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}

.grid-auto-flow3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
}

.grid-auto-flow3 .item2 {
    grid-column: span 3;
    background-color: rgb(46, 100, 36);
}

.grid-auto-flow3 .item4 {
    grid-column: span 3;
    background-color: rgb(46, 100, 36);
}

.item2 {
    grid-row: span 2;
}

.item3 {
    grid-row: span 2;
}

.item5 {
    grid-column: span 2;
}

.justify-content {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    justify-content: space-between;
}

.align-content {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    height: 600px;

    align-content: center;
}

.justify-items {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    justify-items: center;
}

.align-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    height: 700px;

    align-items: center;
}

.grid-column {
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 80px;
}

.grid-column .item-2 {
    grid-column: span 2;
}

.grid-column .item-3 {

    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-column2 {
    grid-template-columns: [inicio] 1fr [meio] 1fr [fim];
}

.grid-column2 .item-4 {
    grid-column: inicio / fim;
}

.grid-row {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 125px;
    height: 500px;
}

.grid-row .item-3 {
    grid-row: 1;
}

.grid-row .item-1 {
    grid-row: 3;
}

.grid-row .item-6 {
    grid-row: span 3;
}

.grid-row .item-4 {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
} 

.grid-area {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 125px;
}

.grid-area .item-3 {
    grid-area: 1 / 2 / 3/ 4;
    grid-row-end: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-area2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 50px;  
    width: 500px;
}

.grid-area2 .item-13{
    grid-column: 4 / -1;
    grid-row: 1 / 7;
    background-color: rgb(0, 255, 0);
    
    mix-blend-mode: screen;
}

.grid-area2 .item-1 {
    grid-column: 2 / span 3;
    grid-row: 2 / 4;
    background-color: red;
    z-index: 1;

    mix-blend-mode: screen;
}

.grid-area2 .item-2 {
    grid-column: 3 / span 2;
    grid-row: 3 / 6;
    background: blue;
    z-index: 2;

    mix-blend-mode: screen;
}