@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body p, img, section, h3, h1, div {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    font-family: 'League Spartan', sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

/* main container */

.main-container {
    display: flex;
    flex-direction: column;

    width: 1075px;
    height: 600px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* description container */

.description-container {
    flex: 1;
    display: flex;
}

/* description container title */

.description-container-title {
    flex: 1;
}

.description-container-title > h1 {
    font-size: 3.25em;
    width: 350px;
}

.description-container-title > p {
    margin-top: 30px;
    font-size: 1.15em;
    width: 450px;
}

/* description container rate */

.description-container-rate-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description-container-rate-container > div {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 5px 40px;
    min-width: 300px;
    height: 50px;
    background-color: rgb(189, 189, 255);
    border-radius: 8px;
}

.description-container-rate-container > div > .estrelas {
    margin-right: 25px;
}

.description-container-rate-container > div:nth-child(2) {
    margin-left: 15%;
}

.description-container-rate-container > div:nth-child(3) {
    margin-left: 30%;
}

/* opnions container */

.opnions-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opnion-container {
    background-color: rgb(116, 16, 107);
    height: 175px;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
}

.opnion-container:nth-child(1) {
    align-self: flex-start;
}

.opnion-container:nth-child(3) {
    align-self: flex-end;
}