body {
    background-color: rgb(24, 23, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    font-size: 125%;
    display: block;
    text-align: center;
    margin: 10px;
}

nav {
    display: block;
}

iframe {
    display: block;
    margin: auto;
}