
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background-color: rgb(139, 255, 216);
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif ;
}

header {
    background-image: linear-gradient(rgb(54, 255, 188) 5%, rgb(19, 82, 60) );
    padding: 15px;
}

header > h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 31%);

}

header > p {
    text-align: center;
    font-size: 115%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.308);
}
header > nav > a
 {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.308);
    margin-right: 20px;
}

header > nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    margin: auto 25%;
    padding: 15px;

}

main > h1 {
    font-family: 'idroid';
    padding: 5px;
    text-align: center;
    color: rgb(19, 82, 60);
    
}

main > h2 {
    font-family: 'idroid';
    padding: 0px 5px;
    color: rgb(12, 53, 39);
    background-color: rgb(79, 117, 95);
    background-image: linear-gradient(to right, rgb(197, 255, 221), white);
}

main > p  {
    text-indent: 30px;
}

    main > p > a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(30, 119, 88);
    }

main > p > a:hover {
    text-decoration: underline;
}

main > nav {
    background-color: rgb(184, 255, 231);
    margin: 0px;
    padding-bottom: 15px ;
    border-radius: 10px;
    padding: 0px;
}

main > nav > h3 {
    background-color: rgb(67, 126, 106);
    color: white;
    padding: 15px 2px 15px 20px;
    border-radius: 10px 10px 0px 0px;
}

main > nav > p {
    margin: 15px;
    text-indent: 20px;
}

main > nav > ul{
    margin: 5px;
}

main > nav > p > a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(30, 119, 88);
}

main > nav > p > a:hover {
    text-decoration: underline;
}


img {
    display: block;
    margin: auto;
}

iframe {

    display: block;
    padding: 15px;
    background-color: rgb(19, 82, 60);
    margin: auto;
}

footer {
    text-align: center;
    color: white;
    padding: 3px;
    background-color: rgb(19, 82, 60);
    margin-top: 15px;
}
    
footer > p {
    margin: 0px
}