@use '../abstract' as *;
// @use '../abstract/fonts' as f;


.l-main {
    background: rgb(231, 231, 231);
    width: 80%;
    max-width: 1200px;
    @include flexCenter(column);

    .main__text {
        background-color: black;
        color: $mainTextColor--clear;
        font-size: $font-size--medium;
    }

    .main__btn {
        background-color: var(--mainColor);
        padding: 10px;
        color: $mainTextColor--clear;
        font-size: 1.7rem;
        display: block;

        &:hover {
            background: #ff0000;
        }
    }
}