@charset "UTF-8";

body {
    background-color: #B6FABC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #2B3B2C;
}

h1#principal {
    text-align: center;
    color: white;
    background-color: #2B3B2C;
}

.destaque {
    background-color: rgb(190, 190, 76);
}

h2 {
    color: #597A5C;
    text-indent: 5px;
}

.basico {
    color: #5ab862;
}

.intermediario {
    color: rgb(184, 182, 95);
}

.avancado {
    color: rgb(190, 115, 115);
}


p {
    text-indent: 20px;
    text-align: justify;
}